.NavbarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
.navbarLeftCont{
    flex: 1;
    color: #054C73;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.navbarRightCont{
    flex: 1;
    width: 45px;
    color: var(--Font-Color, #333);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
}